= form.fieldset do
  - translated_model_fields_for(form.object.class).each do |field|
    = form.input field.field_name, as: :i18n

  - nested_relations_attributes_for(form.object.class).each do |field|
    = form.input field.field_name, as: field.field_type
