<div class="block form-inputs">
  <div class="form-group">
    <%= label :target_locale, t('para.i18n.choose_locale'), class: 'control-label col-md-3 pull-left' %>
    
    <div class="col-md-9">
      <%= select_tag :target_locale, 
                     options_for_select(
                      locales.map { |locale| [locale, locale] }, target_locale), 
                     data: { 
                        controller: "translations-locale-select",
                        action: "change->translations-locale-select#switchLocale",
                        "translations-locale-select-path-template-value": translations_form_locale_path_for(resource, "__locale__"),
                      }
      %>
    </div>
  </div>
</div>
